@import "mixins/_css3";
@import "mixins/_utils";
@import "variables/_variables";
@import "_reset";
@import "components/_page-header";
$font-stack: 'Heiti SC';
html,
body{
    height: 100%;
    width: 100%;
}
html{
    font-family: $font-stack;
    font-size: 10px;
}
body{
    position: relative;
}
.wip {
    @include vc();
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3rem
}
