@import "mixins/css3";
@import "mixins/utils";
@import "reset";
$font-stack: 'Heiti SC';
html,
body{
    height: 100%;
    width: 100%;
}
html{
    font-family: $font-stack;
}
body{
    position: relative;
}
.wip {
    @include vc();
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3rem
} 
