$pageHeaderHeight: 9rem;
$headerContentHeight: 3rem;
$contentMargin: ( $pageHeaderHeight - $headerContentHeight )/2;
.page-header {
    position: fixed;
    top: 0;
    height: $pageHeaderHeight;
    width: 100%;
    background-color: $blueReflection;
}
.page-title{
    @include vc();
    color: white;
    font-size: $headerContentHeight;
    line-height: $headerContentHeight;
    text-align: center;
    width: 100%;
    z-index: $z-2;
}
.social-tools{
    @include vc();
    margin: 0 $contentMargin;
    float: left;
    z-index: $z-3;
}
.owner-image{
    @include circle($headerContentHeight);
    background-color: $blueLake;
}
