$pageHeaderHeight: 9rem;
$headerContentHeight: 3rem;
$contentMargin: ( $pageHeaderHeight - $headerContentHeight )/2;
.page-header {
    position: fixed;
    top: 0;
    height: $pageHeaderHeight;
    width: 100%;
    background-color: $blueReflection;
}
.page-title{
    @include vc();
    color: white;
    font-size: $headerContentHeight;
    line-height: $headerContentHeight;
    text-align: center;
    width: 100%;
    z-index: $z-2;
}
.social-tools{
    @include vc();
    margin: 0 $contentMargin;
    float: left;
    z-index: $z-3;
}
.owner-image{
    @include circle($headerContentHeight*4/3);
    background-color: $blueLake;
    float: left;
    cursor: pointer;
    overflow: hidden;
    img{
        @include square(100%);
    }
}
.social-link{
    font-size: $headerContentHeight/2;
    line-height: $headerContentHeight*4/3;
    height: 100%;
    width: $headerContentHeight;
    text-align: center;
    display: inline-block;
    a{
        color: white;
        @include opacity(0.8);
        &:hover{
            @include opacity(1);
        }
    }
}
.owner-social-links{
    @include transition(all 200ms ease);
    @include opacity(0);
    margin-left: 0.5rem;
    pointer-events: none;
    float: left;
    &.show-social{
        @include opacity(1);
        pointer-events: auto;
    }
}
