<div class="hero">
    <img class="logo" src="imgs/logo.svg"/>
    <div class="name">VIPUL GARG</div>
    <div class="skills">Artist, Web Designer & Frontend Developer</div>
    <div class="bio">Art is my passion. I design & develop beautiful web interfaces. Own a studio COAL ARTS. Also a Co-founder of <a href="http://morph.ai" target="_blank">Morph.ai</a> and Founding Team member - Technology at <a href="http://supertextnow.com" target="_blank">Supertext</a>.</div>
    <div class="connect">You can get in touch with me on twitter <a href="https://twitter.com/vipul_261" target="_blank">@vipul_261</a> or via email at <a href="mailto:vipul261@gmail.com?Subject=Hello" target="_top">vipul261@gmail.com</a></div>
</div>

